# Rust Build Artifacts
/target/
**/*.rs.bk

# Debugging
Battle_Cats_Complete.exe
/stuff/

# Quality of Life
.cargo/

# Extracted Game Data
/game/
/exports/
/mods/

# IDE Settings
.vscode/
.idea/
*.swp

# OS Junk
.DS_Store
Thumbs.db