# Rust Build Artifacts
/target/
**/*.rs.bk

# Debugging
Battle Cats Complete.exe
Battle_Cats_Complete.exe
/stuff/

# Quality of Life
.cargo/

# Extracted Game Data
/game/
/exports/
/mods/

# Update Leftovers
tmp_update.zip
tmp_new_version.exe
tmp_new_version
CHANGELOG.md

# IDE Settings
.vscode/
.idea/
*.swp

# OS Junk
.DS_Store
Thumbs.db